@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

:root {
   --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
   --body-color: #E4E9F7;
   --light-bg: #eee;
      	/* Variables for storing colors */
	--card-clr: #161922;
	--body-clr: #191d28;
	--primary-clr: #f0bf6a;
	--heading-clr: #dadada;
	--text-clr: #767a86;

   --dark-jungle-green: hsl(188, 63%, 7%);
   --prussian-blue: hsl(200, 69%, 14%);
   --prussian-pale: hsl(201, 19%, 42%);
   --raisin-black-1: hsl(227, 29%, 13%);
   --raisin-black-2: hsl(229, 17%, 19%);
   --yellow-green: hsl(89, 72%, 45%);
   --orange-soda: rgb(255, 90, 61);
   --orange-tangy: hsla(9, 100%, 62%, 0.1);
   --orange-pale: hsl(9, 100%, 73%);
   --cultured-1: hsl(0, 0%, 93%);
   --cultured-2: hsl(192, 24%, 96%);
   --misty-rose: hsl(7, 56%, 91%);
   --alice-blue: hsl(210, 100%, 97%);
   --seashell: hsl(8, 100%, 97%);
   --cadet: hsl(200, 15%, 43%);
   --white: hsl(0, 0%, 100%);
   --black: hsl(0, 0%, 0%);
   --opal: hsl(180, 20%, 62%);
}

*::-webkit-scrollbar-thumb {
   background-color: #232A3D;
   border-radius: 5rem;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 10rem;
}

body {
   background-color: var(--body-color);
}

section {
   padding: 3rem 2rem;

   margin: 0 auto;
}
/* removed from section  max-width: 1200px; */





/* Navbar */

.navbarNav .nav-link {
   background-color: #232A3D;
   color: #FFF;
   border-radius: 5px;
}

.navbar-nav .nav-item {
   font-size: 1.5rem;
   padding: 1rem;
   border-radius: 5px;
}

.nav-item .nav-link:hover {
   padding-left: 1rem;
   padding-right: 1rem;

}

.nav-item .nav-link:hover {
   background-color: #232A3D;
   color: #FFF;
   border-radius: 5px;

}

.signOutbtn .btn {
   background-color: #232A3D;
   color: #FFF;
   font-size: 1.5rem;
}

.signOutbtn .btn:hover {
   background-color: #E4E9F7;
   color: #232A3D;
}

/* .d-flex .btn {
   background-color: #232A3D;
   color: #FFF;
   font-size: 1.5rem;
}

.d-flex .btn:hover {
   background-color: #E4E9F7;
   color: #232A3D;
} */

.jumbotron {
   background: url('../images/header.png') no-repeat center fixed;
   max-width: 100%;
   background-size: cover;
   background-color: rgba(0, 0, 0, .3);
   height: 500px;
   /* background-color: rgba(21, 89, 121, 0.3); */
}

#headerTitle {
   color: #E4E9F7;
}

#headerTitle h2 {
   font-size: 5rem;
}

#headerDetails {
   color: #E4E9F7;
   font-size: 2rem;
}

.btnSearch {
   background-color: #232A3D;
   color: #FFF;
   font-size: 1.5rem;
   padding: .7rem;
}

.btnSearch:hover {
   background-color: #E4E9F7;
   color: #232A3D;
}

.form-control {
   font-size: 1.5rem;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f3f5fa;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
   font-size: 50px;
   font-weight: bold;
   text-transform: uppercase;
   margin-bottom: 20px;
   padding-bottom: 20px;
   position: relative;
   color: var(--prussian-blue);
 }
 
 .section-title h2::before {
   content: "";
   position: absolute;
   display: block;
   width: 120px;
   height: 1px;
   background: var(--cadet);
   bottom: 1px;
   left: calc(50% - 60px);
 }
 
 .section-title h2::after {
   content: "";
   position: absolute;
   display: block;
   width: 40px;
   height: 3px;
   background: var(--orange-soda);
   bottom: 0;
   left: calc(50% - 20px);
 }
  
  .section-title p {
    font-size: 16px;
    margin-bottom: 0;
  }

  .statusU span {
   padding: .5rem 3rem;
   color: var(--orange-soda);
   background-color: hsla(9, 100%, 62%, 0.1);;
   font-size: 2rem;
   font-weight: 500;
   border-radius: 25px;
}

  /* text-align: justify; */

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.section-bg {
    background-color: #f3f5fa;
  }

.services .icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background: #fff;
    border-radius: 10px;
    width: 100%;
  }
  
  .services .icon-box .icon {
    margin-bottom: 10px;
  }
  
  .services .icon-box .icon i {
    color: var(--orange-soda);
    font-size: 36px;
    transition: 0.3s;
  }
  
  .services .icon-box h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
  }

  .services .icon-box h4 a {
    color: var(--prussian-blue);
    transition: ease-in-out 0.3s;
  }
  
  .services .icon-box .contactDetails {
    line-height: 24px;
    font-size: 2rem;
    margin-bottom: 0;
  }
  
  .services .icon-box .contactDetails1 {
    line-height: 24px;
    font-size: 2rem;
    margin-bottom: 0;
  }

  .services .icon-box .contactDetails span {
    font-weight: 600;
  }

  .services .icon-box:hover {
    transform: translateY(-10px);
  }
  
  .services .icon-box:hover h4 a {
    color: var(--orange-soda);
  }



/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content {
    padding: 60px 100px 0 100px;
  }
  
  .why-us .content h3 {
    font-weight: 400;
    font-size: 50px;
    color: var(--prussian-blue)
  }
  
  .why-us .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    text-align: justify;
  }
  
  .why-us .content p {
    font-size: 15px;
    color: #848484;
    text-align: justify;
  }
  
  .why-us .img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .why-us .accordion-list {
    padding: 0 100px 60px 100px;
  }
  
  .why-us .accordion-list ul {
    padding: 0;
    list-style: none;
  }
  
  .why-us .accordion-list li+li {
    margin-top: 15px;
  }
  
  .why-us .accordion-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
  }
  
  .why-us .accordion-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
    cursor: pointer;
    color: var(--orange-soda);
  }
  
  .why-us .accordion-list span {
    color: var(--prussian-blue);
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
  }
  
  .why-us .accordion-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;

  }
  
  .why-us .accordion-list p {
    font-size: 16px;
    margin-bottom: 0;
    padding: 10px 0 0 0;
    text-align: justify;
  }
  
  .why-us label{
    font-size: 2rem;
    font-weight: 500;
  }

  .why-us select{
    font-size: 1.7rem;
  }
  
  .why-us .input-group .input-group-text{
    font-size: 1.5rem;
  }
  
  @media (max-width: 1024px) {
  
    .why-us .content,
    .why-us .accordion-list {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  @media (max-width: 992px) {
    .why-us .img {
      min-height: 400px;
    }
  
    .why-us .content {
      padding-top: 30px;
    }
  
    .why-us .accordion-list {
      padding-bottom: 30px;
    }

    .services .icon-box .contactDetails
    {
      font-size: 1.7rem;

    }
    .services .icon-box .contactDetails1
    {
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 575px) {
    .why-us .img {
      min-height: 200px;
    }

    .why-us .content h3 {
      font-weight: 400;
      font-size: 40px;
      color: var(--prussian-blue);
      text-align: center;
    }

    .services .icon-box .contactDetails
    {
      font-size: 1.7rem;
    }

    .services .icon-box .contactDetails1
    {
      font-size: 1.5rem;
    }

  }
 


#feedbackForm {
  border-radius: 15px; /* Adjust the value to control the roundness of corners */
  padding: 20px; /* Adjust the value to control the padding */
  background-color: #fff; /* Set a background color if needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a box shadow for depth */
}

.form-select,
.form-control,
.form-check-input {
    border-radius: 10px; /* Adjust the value to control the roundness of corners for input fields and select boxes */
    padding: 10px; /* Adjust the value to control the padding for input fields and select boxes */
}


.fa-circle {
   color: var(--misty-rose);
}

section.why-us .content div.col-12 button.btn{
  background-color: var(--prussian-blue);
  font-size: 1.5rem;
  color: white;
}

section.why-us .content div.col-12 button.btn:hover{
  background-color: var(--orange-soda);
}
